@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/common.scss";
// @import "../../app/globals.scss";

.footerStyle {
  background: $footerBackgroundColor1;
  background: linear-gradient(0deg, $footerBackgroundColor1 0%, $footerBackgroundColor2 100%);

  position: inherit;
  font-weight: bold !important;
  color: $fontColorSoft !important;
  .FooterContentStyle {
    width: 100%;
    text-align: center;
  }
}