@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/buttons.scss";
@import "../../styles/common.scss";

.PanelContainerStyle {
  top: 0 !important;
  width: 100vw;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  

  .header {
    justify-content: center;
    font-family: permanentMarker !important;

    // h1 {
    //   margin-top: 0px;
    //   margin-bottom: 0px;
    //   padding-left: 16px !important;
    // }

    .LogoStyle {
      
      margin-top: 0px;
      margin-bottom: 0px;
      // padding-left: 16px !important;
      padding-left: 0px !important;
      cursor: pointer;
    }

    .SearchBoxStyle {
      // padding-right: 16px !important;
      margin-right: 30px !important;
      margin-top: 5px !important;
      // width: 200px !important;
      justify-content: end;
      float: right;

      @include tablet-or-less {
        margin-right: 0px !important;
        padding-right: 32px !important;
      }

      .SearchBoxIconStyle {
        font-size: 24px !important;
        height: 35px !important;
        margin-top: 12px !important;
        color: $main !important;
        float: right !important;
      }

      @include tablet-or-less {
        margin-right: 0px !important;
      }

      :global {
        .MuiOutlinedInput-notchedOutline {
          border-color: $darkColor !important;
          border-width: 1px !important;
        }

        .MuiInputBase-input {
          font-family: inherit !important;
          color: $orangeDark !important;
        }

        .MuiSvgIcon-root {
          color: $darkColor !important;
        }

        .MuiInputLabel-root {
          color: $darkColor !important;
          font-family: inherit !important;
          
        }

        .MuiAutocomplete-input {
          font-family: inherit !important;
          color: $orangeDark !important;
        }
      }

      @include tablet-or-less {
        width: 100% !important;
      }

    }
  }
}

.blueButtonStyle{
  min-width: 100px !important;
  float: right !important; 
  margin-top: 20px !important; 
}

.blueButtonStyleSmall{
  color: white !important;
  background-color: $blue !important;
  border-color: $blue !important;
  min-width: 50px !important;
  float: right !important; 
  margin-top: 15px !important; 
  border-radius: 3px !important;
}

.redButtonStyle{
  min-width: 100px !important;
  float: right !important; 
  margin-top: 10px !important; 
}