@import "./colors.scss";
@import "./mixins.scss";

// .firstButtonStyle,
// .secondButtonStyle,
.thirdButtonStyle,
.fourthButtonStyle {
  border-width: 1px !important;
  border-style: solid !important;
  padding: 5px !important;
  text-decoration: none !important;
  border-radius: 5px !important;
  transition: 0.3s !important;
}

// .firstButtonStyle {
//   color: $firstButtonFontColor !important;
//   background-color: $firstButtonBackgroundColor !important ;
//   border-color: $firstButtonBorderColor !important ;
// }

// .secondButtonStyle {
//   color: $secondButtonFontColor !important;
//   background-color: $secondButtonBackgroundColor !important;
//   border-color: $secondButtonBorderColor !important;
// }

.thirdButtonStyle {
  color: $commentButtonFontColor !important;
  background-color: $commentButtonBackgroundColor !important;
  border-color: $commentButtonBorderColor !important;
}

.fourthButtonStyle {
  color: $loginButtonFontColor !important;
  background-color: $loginButtonBackgroundColor !important;
  border-color: $loginButtonBorderColor !important;
}

// .firstButtonStyle:hover,
// .secondButtonStyle:hover,
.thirdButtonStyle:hover,
.fourthButtonStyle:hover {
  opacity: 0.6;
  cursor: pointer !important;
}