
//font colors
$fontColor: #000000;
$headerFontColor: #00000099; //header font color

//background colors
$backgroundColor: #ffffff;

$headerBackgroundColor1: #ffffff;
$headerBackgroundColor2: #ffd502;

$bodyContentBackgroundColor1: #ffffff;
$bodyContentBackgroundColor2: #ffffff;

$footerBackgroundColor1: #ffffff;
$footerBackgroundColor2: #0093e9;

//component colors
$searchBarColor: #000000;

//menu & navigations
$mainMenuSelectedFontColor: #0093e9; // main menu selected font color

$categoryMenuSelectedBackgroundColor: #0093e9; // category menu selected background color
$categoryMenuSelectedFontColor: #f2f2f2; // category menu selected font color

$orderByMenuSelectedFontColor: #0093e9; // order by menu selected font color

//buttons
$tagColor: #dcdcdc; //tag color

$commentButtonFontColor: #fcf7dd; //comment button font color
$commentButtonBackgroundColor: #d34600; //comment button background color
$commentButtonBorderColor: #fcf7dd; //comment button border color

$loginButtonFontColor: #fcf7dd; //login button font color
$loginButtonBackgroundColor: #0093e9; //login button background color
$loginButtonBorderColor: #0093e9; //login button border color

//no need to change
$errorColor: #ff0000;
$cautionColor: #d34600;
  