$color0: rgb(255, 255, 255);
$color1: rgb(0, 0, 0);
$color2: rgba(0, 0, 0, 0.6);
$color3: rgb(0, 147, 233);
$color4: rgb(211, 70, 0);
$color5: rgb(220, 220, 220);
$color6: #2F7D31;
$color7: rgb(230, 244, 231);
$color8: rgb(242, 242, 242);


$PanelContainerColor: $color0;
$containerBackgroundDesktop: $color8;
$containerBackgroundHeader: $color8;
$background: $color8;
$font: $color3;
$textFieldErrorBorderColor: rgb(255, 0, 0);

$firstButtonFontColor: $color1;
$firstButtonBackgroundColor: $color7;
$firstButtonBorderColor: $color6;
$firstButtonFontColorHover: $color0;

$secondButtonFontColor: $color0;
$secondButtonBackgroundColor: $color6;
$secondButtonBorderColor: $color7;

$thirdButtonFontColor: $color0;
$thirdButtonBackgroundColor: $color4;
$thirdButtonBorderColor: $color0;

$fourthButtonFontColor: $color0;
$fourthButtonBackgroundColor: $color3 ;
$fourthButtonBorderColor: $color3 ;
