@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
// @import "../../app/globals.scss";

.titleStyle{
  color: $fontColor;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}