@import "../styles/mixins.scss";
@import "../styles/common.scss";
// @import "../app/globals.scss";

.ContainerPageContainerStyle {
  display: flex !important;
  flex-direction: column !important;
  min-height: 98vh !important;
  margin: 0 !important;
  color: $fontColor !important;
  font-size: 16px !important;
  background-color: $backgroundColor !important;

  :global {
    .MuiChip-label {
      font-size: 14px !important;
    }

    .MuiTypography-root {
      font-size: 14px !important;
    }
  }

  h1,
  h1 a,
  h2,
  h2 a {
    color: $fontColor !important;
  }

  .HeaderStyle {
    @include tablet-or-less {
      min-height: 65px !important;
    }
  }
}

.HomePageInfoStyle {
  color: $fontColor;
  h1 {
    color: $fontColorSoft;
  }
}

.ContentStyle{
  padding-top: 20px !important;
  .ContentContainerStyle{
    // background-color: $bodyContentBackgroundColor !important;
    background: $bodyContentBackgroundColor1;
    background: radial-gradient(circle, $bodyContentBackgroundColor1 0%, $bodyContentBackgroundColor2 100%);
  }
}

.FindTitleHeaderStyle{
  margin: "0px";
  text-align: "center";
  color: $fontColorSoft;
}