@import "../styles/mixins.scss";
@import "../styles/common.scss";
// @import "../app/globals.scss";

.ContainerPageContainerStyle {
  display: flex !important;
  flex-direction: column !important;
  min-height: 98vh !important;
  margin: 0 !important;
  color: $color1 !important;
  font-size: 16px !important;
  background-color: $background !important;

  :global {
    .MuiChip-label {
      font-size: 14px !important;
    }

    .MuiTypography-root {
      font-size: 14px !important;
    }
  }

  h1,
  h1 a,
  h2,
  h2 a {
    color: $color1 !important;
  }

  .HeaderStyle {
    @include tablet-or-less {
      min-height: 65px !important;
    }
  }
}

.HomePageInfoStyle {
  color: $color1;
  h1 {
    color: $color1;
    opacity: 0.6;
  }
}

.ContentStyle{
  padding-top: 20px !important;
}

.FindTitleHeaderStyle{
  margin: "0px";
  text-align: "center";
  color: $color2;
}