@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/common.scss";

.HomePageInfoStyle {
  color: $color1;
  h1 {
    color: $color2;
  }

  .ArticleImageContainerStyle{
    width: 100%;  
    position: relative; 
    height: 40vh; 
    @include tablet-or-less{
      height: 25vh; 
    }
  }

  .HeaderActionsContainerStyle{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  
}

.PanelContainerStyle {
  background-color: $color0 !important;
  border-radius: 5px;
  margin-left: 30px; 
  margin-right: 30px; 
}
